---
---
@import "base";

.post-list li {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
  padding-bottom: .5rem;

  @include mobile {
    display: block;
  }
}

.post-list li:not(:last-child) {
  border-bottom: 1px solid mix($body-background-color, black, 96%);
}

.post-list-link {
  display: block;
}

.post-list-date {
  display: block;
  flex: 0 0 auto;
  margin-left: 1rem;

  @include mobile {
    font-size: .85rem;
    margin-left: 0;
  }
}
