---
---
@import "base";

.post-list {
  margin-top: 1.5rem;
}

.post-list li {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
  padding-bottom: .5rem;

  @media (max-width: 500px) {
    display: block;
  }
}

.post-list li:not(:last-child) {
  border-bottom: 1px solid #f5f6ca;
}

.post-list-link {
  display: block;
}

.post-list-date {
  display: block;
  flex: 0 0 auto;
  margin-left: 1rem;

  @media (max-width: 500px) {
    font-size: .85rem;
    margin-left: 0;
  }
}
