---
---
@import "base";
@import "syntax";

// Home
.home-section:not(:last-child) {
  margin-bottom: 2rem;
}

.home-section-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: .75rem;
}

.home-about {
  padding: 1rem;
  background: mix($body-background-color, #000, 90%);
  border-radius: $border-radius;

  h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

// List of posts.
.post-list-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: .75rem;
}

.post-list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
  padding-bottom: .5rem;

  @include mobile {
    display: block;
  }

  &:not(:last-child) {
    border-bottom: 1px solid mix($body-background-color, black, 96%);
  }
}

.post-list-link {
  display: block;
}

.post-list-date {
  display: block;
  flex: 0 0 auto;
  margin-left: 1rem;

  @include mobile {
    font-size: .85rem;
    margin-left: 0;
  }
}

// Single post.
.post {
  p,
  ol,
  ul,
  blockquote,
  pre,
  table {
    &:not(:last-child) {
       margin-bottom: 1rem;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    line-height: 1.125;
    margin-top: 1.125rem;
    margin-bottom: .6125rem;
  }

  h1 {
    font-size: 2rem;
    margin-top: 0;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1.125rem;
  }

  h6 {
    font-size: 1rem;
  }

  img {
    display: block;
    width: 100%;
  }

  blockquote {
    background-color: $blockquote-background-color;
    border-left: 7px solid mix($blockquote-background-color, #000, 90%);
    padding: 1rem;
    border-radius: $border-radius;
  }

  ol, ul {
    list-style-position: outside;
    margin-left: 2rem;
    margin-top: 1rem;

    li {
      margin-bottom: .25rem;
    }

    ul, ol {
      margin-left: 1.75rem;
      margin-top: .25rem;
    }

    ul {
      list-style-type: circle;

      ul {
        list-style-type: square;
      }
    }
  }

  ul {
    list-style-type: disc;
  }

  // Table
  table {
    width: 100%;
    max-width: 100%;
    font-size: .9rem;
    background-color: transparent;
  }

  th,
  td {
    padding: .25rem .5rem;
    vertical-align: top;
    border-top: 1px solid mix($body-background-color, #000, 90%);
  }

  thead th {
    vertical-align: bottom;
    border-bottom: 2px solid mix($body-background-color, #000, 90%);
  }

  // Code
  p, li, a, td {
    > code {
      font-size: .9rem;
      padding: 1px 4px;
      background: mix($body-background-color, black, 96%);
      border-radius: $border-radius;
      word-break: break-all;
    }
  }

  blockquote {
    code {
      background: mix($blockquote-background-color, black, 95%);
    }
  }

  pre {
    font-size: .85rem;
    line-height: 1.5;
    padding: 1rem;
    overflow-x: auto;
    white-space: pre;
    word-wrap: normal;
    margin-bottom: 1rem;
    border-radius: $border-radius;

    @include mobile {
      font-size: .75rem;
    }
  }
}
