<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
{%- if page.custom_title -%}
    {%- if page.custom_title == true -%}
        <title>{{ page.title }}</title>
    {%- else -%}
        <title>{{ page.custom_title }}</title>
    {%- endif -%}
{%- else -%}
    <title>{{ page.title }} | Risan Bagja's Blog</title>
{%- endif -%}
<link rel="stylesheet" href="{{ 'css/main.css' | absolute_url }}">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" href="{{ 'img/darth-maul-48x48.png' | absolute_url }}">
<link rel="canonical" href="https://risanb.com{{ page.url | replace: '/tips', '/blog' }}">
{%- feed_meta -%}
