<nav class="navbar">
    <div class="container">
        <ul class="navbar-menu">
            <li>
                <a href="{{ '/' | absolute_url }}">Home</a>
            </li>
            <li>
                <a href="{{ '/blog/' | absolute_url }}">Blog</a>
            </li>
            <li>
                <a href="{{ 'about.html' | absolute_url }}">About</a>
            </li>
            <li>
                <a href="{{ '/id/' | absolute_url }}">🇮🇩 Indonesian</a>
            </li>
        </ul>
    </div>
</nav>
