// Font
$font-size: 17px;
$font-primary: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-code: monospace;
$font-line-height: 1.6;

$body-background-color: #fefed5;
$body-color: #2a2a2a;

$link-color: #421fd1;
$link-hover-color: #a419a0;

// Layout
$container-max-width: 700px;
