// Font
$font-size: 17px;
$font-primary: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-code: Menlo, Monaco, monospace;
$font-line-height: 1.6;

$body-background-color: #ffffe4;
$body-color: #151515;

$link-color: #a20303;
$link-hover-color: #4819a4;

$blockquote-background-color: #f2f2d0;
$border-radius: 3px;

// Layout
$container-max-width: 700px;

@mixin mobile {
  @media screen and (max-width: 500px) {
    @content;
  }
}
